.profileImg{
    max-height: 100vh;
}

.horizontal-photos{
    width: 100%;
    text-align: center;
}
.horizontal-photos img{
    padding-left: 5px;
    padding-right: 5px;
}
.h-photo1{
    width: 32%
}
.h-photo2{
    width: 32%
}
.h-photo3{
    width: 32%
}

.vertical-photos{
    width: 100%;
    text-align: center;
}
.vertical-photos img{
    padding-left: 75px;
    padding-right: 75px;
}
.v-photo1{
    max-width: 22%;
}
.v-photo2{
    max-width: 22%;
}
.v-photo3{
    max-width: 22%;
}

/*
.photo-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
}
  
.photo {
    display: block;
    background-color: #f0f0f0;
    border-radius: 8px;
    overflow: hidden;
}
  
.photo img {
    max-width: 100%;
    height: auto;
    display: block;
}
*/